<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ADMIN HOME</title>
<link rel="stylesheet" type=text/css th:href="@{adminhome.css}">
</head>
<body>
<p><button>Admin Home</button></p>
<form action="newsong" method="get">
<input type="submit" value="ADD SONGS">
</form>
<br><br>
<form action="viewsongs">
<input type="submit" value="VIEW SONGS">
</form> 
<br><br>
<form action="createplaylist">
<input type="submit" value="CREATE PLAYLIST">
</form> 
<br><br>
<form action="viewplaylist">
<input type="submit" value="VIEW PLAYLIST">
</form>
<br><br>
<!-- <form action="updateplaylist">
<input type="submit" value="UPDATE PLAYLIST">
</form> -->
</body>
</html>